body{
    display: flex;
    height: 100vh;
    justify-content: center;
}


#canvas-container > div{
    display: flex;
    background-color: lightgray;
    min-width: 6.25%;
    min-height: 6.25%;
    box-sizing: border-box;
    
}
#canvas-container{
    display: flex;
    flex-flow: row wrap;
    min-height: 65vw;
    min-width: 65vw;
}

.filled{
    background-color: darkslategrey;
}