body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#canvas-container{
    display: flex;
    flex-shrink: 0;
    flex-flow: row wrap;
    height: 750px;
    width: 750px;
    /*
    min-height: 65vw;
    min-width: 65vw;
    */

    margin-top: auto;

}
.pixel{
    display: flex;
    background-color: lightgray;
    /*min-width: 6.25%;
    min-height: 6.25%;*/
    box-sizing: border-box;
    
}
#color-picker{
    width: 25px;
    border: 0;
}
.menu {
    display: flex;
    justify-content: space-evenly;
    width: 750px;
    align-items: center;
    margin-bottom: auto;
}